<div class='letters' id='letters'>
    <a href="{% url "alumno" letter='A' %}">A</a>
    <a href="{% url "alumno" letter='B' %}">B</a>
    <a href="{% url "alumno" letter='C' %}">C</a>
    <a href="{% url "alumno" letter='D' %}">D</a>
    <a href="{% url "alumno" letter='E' %}">E</a>
    <a href="{% url "alumno" letter='F' %}">F</a>
    <a href="{% url "alumno" letter='G' %}">G</a>
    <a href="{% url "alumno" letter='H' %}">H</a>
    <a href="{% url "alumno" letter='I' %}">I</a>
    <a href="{% url "alumno" letter='J' %}">J</a>
    <a href="{% url "alumno" letter='K' %}">K</a>
    <a href="{% url "alumno" letter='L' %}">L</a>
    <a href="{% url "alumno" letter='M' %}">M</a>
    <a href="{% url "alumno" letter='N' %}">N</a>
    <a href="{% url "alumno" letter='Ñ' %}">Ñ</a>
    <a href="{% url "alumno" letter='O' %}">O</a>
    <a href="{% url "alumno" letter='P' %}">P</a>
    <a href="{% url "alumno" letter='Q' %}">Q</a>
    <a href="{% url "alumno" letter='R' %}">R</a>
    <a href="{% url "alumno" letter='S' %}">S</a>
    <a href="{% url "alumno" letter='T' %}">T</a>
    <a href="{% url "alumno" letter='U' %}">U</a>
    <a href="{% url "alumno" letter='V' %}">V</a>
    <a href="{% url "alumno" letter='W' %}">W</a>
    <a href="{% url "alumno" letter='X' %}">X</a>
    <a href="{% url "alumno" letter='Y' %}">Y</a>
    <a href="{% url "alumno" letter='Z' %}">Z</a>
</div>